
footer {
    background: rgba(0,0,0,.8);
    bottom: 0;
    min-height: 200px;
    position: absolute;
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 1em;
}

a {
    font-size: 19px;
    opacity: .8;
    position: relative;
    text-decoration: none;
}

a::before {
    content: '';
    bottom: 0;
    display: block;
    height: 0;
    margin: auto;
    left: 0;
    position: absolute;
    border-bottom: 1px solid;
    right: 0;
    width: 0;
    transition: all .4s ease;
}

a:hover::before { 
    width: 100%;
}

img {
    border-radius: 100px;
    border: 3px double;
    color: white;
    height: 50px;
    opacity: .8;
    width: 50px;
}