<footer class="m-auto justify-content-center align-items-center d-flex">
    <div class="container">
        <ul class="text-center m-auto">
            <li><img src="./assets/monte.svg" alt=""></li><!-- https://iconmonstr.com/weather-95-svg/ -->
            <li><a target="_blank" class="link-light" href="https://www.cm-gazteiz.com/">Gazteiz mendi taldea</a></li>
            <li><a target="_blank" class="link-light" href="https://emf.eus/Clubes">FVM Clubes activos</a></li>
            <li><a target="_blank" class="link-light" href="https://almoradu.es/listado-proyecto-17-cimas/proyecto-17-cimas-euskadi/">17 cimas</a></li>
            <li><img src="./assets/medalla.svg" alt=""></li><!-- https://iconmonstr.com/medal-12-svg/ -->
        </ul>
    </div>
</footer>
