
<!-- HTML martxas -->

<h1>Listado de martxas</h1>

<table class="table-responsive w-75 m-auto table-primary table-light table-hover table " id="lista-martxas">
    <thead class="table-dark">
        <tr class="text-center">
            <th>NOMBRE</th>
            <th>CIUDAD</th>
            <th>KM</th>
            <th>FECHA</th>
            <th>PARTICIPANTES</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let martxa of this.listaMartxas">
            <td>{{martxa.getNombre()}}</td>
            <td>{{martxa.getCiudad()}}</td>
            <td>{{martxa.getDistancia()}}</td>
            <td>{{martxa.getFecha()}}</td>
            <td>{{martxa.getParticipantes()}}</td>
        </tr>
    </tbody>    
</table>
